@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@import "tailwindcss";

@layer utilities {
  .bg-200\% {
    background-size: 200%;
  }

  .animate-gradient {
    animation: animate-gradient 2.5s linear infinite;
  }

  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }
}

@theme {
    --font-sans: 'Poppins', sans-serif;
    --font-title: 'ICA Rubrik Black', sans-serif;
    --font-test: "Merienda", sans-serif;
}
  